body		{margin-top: 1cm ; margin-bottom; 1cm; margin-left: 5%; margin-right: 5%; 
		font-family: arial, helvetica, geneva, sans-serif}

p		{margin-top: .3cm ; margin-bottom: .3cm; margin-left: .4cm; margin-right: .4cm; 
		font-family: arial, helvetica, geneva, sans-serif}
p.fieldname 	{margin-top: .3cm ; margin-bottom: .3cm; margin-left: .4cm; margin-right: .4cm; 
		font-family: arial, helvetica, geneva, sans-serif}
p.footer	{text-align: center ; margin-top: 0.5cm ; margin-bottom: 0.5cm; font-family: arial, helvetica, geneva, sans-serif}

ul		{font-family: arial, helvetica, geneva, sans-serif}
ol		{font-family: arial, helvetica, geneva, sans-serif}
dl		{font-family: arial, helvetica, geneva, sans-serif}

h1		{text-align: center; color: #388fbd; 
		font-family: arial, helvetica, geneva, sans-serif}
h1.top		{margin-top: 0.5cm; text-align: center; color: blue;
		 font-family: arial, helvetica, geneva, sans-serif}

h2		{text-align: center; font-family: arial, helvetica, geneva, sans-serif}
h3		{font-family: arial, helvetica, geneva, sans-serif}
h4		{font-family: arial, helvetica, geneva, sans-serif}
h5		{font-family: arial, helvetica, geneva, sans-serif}
h6		{font-family: arial, helvetica, geneva, sans-serif}
a 		{font-family: arial, helvetica, geneva, sans-serif}

table   	{background-color: antiquewhite}
table.input	{background-color: lightblue}

input.detail   	{margin-left: 1cm}

textarea.detail	{margin-left: 1cm}

td		{font-family: arial, helvetica, geneva, sans-serif}
td.fieldname	{font-family: arial, helvetica, geneva, sans-serif}
td.input 	{background-color: lightblue;}

tr      	{background-color: lightblue}
a:hover 	{color: blue; text-decoration: underline }
